/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    evolf-pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
plugins {
    id 'nf-schema@2.0.0' // Required for params validation
    id 'nf-prov@1.2.0'   // Required for manifest.contributors & BCO generation
}
params {
    // Workflow flags:

    // Mandatory arguments
    // Input options
    inputFile = '' // Path to input file (CSV format) REQUIRED
    batchFile = false // Is the input file a batch file containing multiple entries? (true/false) DEFAULT: false
    ligandSmiles = 'SMILES' // Column name for ligand SMILES in input file DEFAULT: 'SMILES' REQUIRED
    receptorSequence = 'Receptor_Sequence' // Column name for receptor sequence in input file DEFAULT: 'Receptor_Sequence' REQUIRED
    ligandID = "Ligand_ID" // Column name for ligand ID in input file DEFAULT: 'Ligand_ID' OPTIONAL
    receptorID = "Rec_ID" // Column name for receptor ID in input file DEFAULT: 'Rec_ID' OPTIONAL
    lrID = "Rel_ID" // Column name for ligand-receptor pair ID in input file DEFAULT: 'Rel_ID' OPTIONAL
    outdir = './results' // Output directory DEFAULT: './results'
    // Schema validation default options
    validate_params            = true
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    
    model_cache_dir = "${System.getProperty('user.home')}/.evolf_cache"
}


profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
        process {
            withLabel: EVOLFDL {
                maxForks = 1
            }
            withName: EVOLF_PREDICTION {
                maxForks = 1
            }
        }
    }
}

process {
    withLabel: EVOLFR {
        container = "ahujalab/evolfr_env"
    }
    withName:SIGNATURIZER {
        container = "ahujalab/signaturizer_env"
    }
    withLabel: EVOLFDL {
    	container = "ahujalab/evolfdl_env"
    }
    withName:MOL2VEC {
    	container = "ahujalab/mol2vec_env"
    }
    withName:MORDRED {
    	container = "ahujalab/mordred_env"
    }
    withName:GRAPH2VEC {
    	container = "ahujalab/graph2vec_env"
    }
    withName:MATH_FEATURIZER {
    	container = "ahujalab/mathfeaturizer_env"
    }
    withName: EVOLF_PREDICTION {
        container = "ahujalab/evolfprediction_env"
    }
    // Set bash options
    shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
    ]

}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
prov {
    enabled = true
    formats {
        bco {
            file = "${params.outdir}/pipeline_info/manifest_${params.trace_report_suffix}.bco.json"
        }
    }
}

manifest {
    name            = 'the-ahuja-lab/evolf-pipeline'
    contributors    = [
        [
            name: 'Dr. Gaurav Ahuja',
            affiliation: 'IIITD, India',
            email: 'gaurav.ahuja@iiitd.ac.in',
            github: '@the-ahuja-lab',
            contribution: ['author', 'maintainer']
        ],
        [
            name: 'Adnan Raza',
            affiliation: 'IIITD, India',
            email: 'adnanaraza3435@gmail.com',
            github: '@woosflex',
            contribution: ['contributor'],
            orcid: '0009-0006-6398-3747'
        ],
        [
            name: 'Syed Yasser',
            affiliation: 'IIITD, India',
            email: 'syed22530@iiitd.ac.in',
            github: '@yasservision24',
            contribution: ['contributor'],
        ],
        [
            name: 'Pranjal Sharma',
            affiliation: 'IIITD, India',
            email: 'pranjal24219@iiitd.ac.in',
            github: '@pranjal2208',
            contribution: ['contributor'],
            orcid: '0009-0002-2522-0360'
        ],
        [
            name: 'Saveena Solanki',
            affiliation: 'IIITD, India',
            email: 'saveenas@iiitd.ac.in',
            github: '@SaveenaSolanki',
            contribution: ['contributor'],
            orcid: '0000-0003-1079-9349'
        ],
        [
            name: 'Ayushi Mittal',
            affiliation: 'IIITD, India',
            email: 'aayushim@iiitd.ac.in',
            github: '@Aayushi006',
            contribution: ['contributor'],
            orcid: '0000-0002-1973-8553'
        ]
    ]
    homePage        = 'https://github.com/the-ahuja-lab/evolf-pipeline'
    description     = """EvOlf is an evolutionary-guided deep learning framework that integrates odorant receptors (ORs) and non-odorant GPCRs (nonORs), along with their experimentally validated agonists and non-agonists, spanning an expanded receptor and ligand chemical space."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=23.04.0'
    version         = '0.1.0'
}